# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=master

# Google
GOOGLE_CREDENTIAL=credentials.json

# Paths (optional, fallback ke direktori config)
JOBS_DIR=configs/jobs
TABLES_DIR=configs/tables
